/* roboto condensed */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: "SHS Dash", "Arial Nova Condensed", "Arial Nova Cond", "Arial Narrow", "Roboto Condensed", Arial, Helvetica, "Source Han Serif TW", "Microsoft JhengHei", "PingFang TC", sans-serif !important;
}

.sans-serif {
    font-family: Arial, Helvetica, "Source Han Sans TC", "Microsoft JhengHei", "PingFang TC", sans-serif !important;
}

kbd {
  padding: 5px 5px;
  vertical-align: text-top;
}

:root {
  --mono-font: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", "Source Han Sans HW TC", "Microsoft JhengHei", "PingFang TC", monospace, monospace;
}

/* source-han-serif-tw - traditional chinese (taiwan) */
@font-face {
font-family: "Source Han Serif TW";
src: url('../fonts/SourceHanSerifTW-VF.ttf.woff2') format('woff2');
}

/* source-han-serif-tw - dash only */
@font-face {
font-family: "SHS Dash";
src: url('../fonts/SourceHanSerifTW-VF.ttf.woff2') format('woff2');
unicode-range: U+2014;
}

/* source-han-sans-hw-tc - traditional chinese */
@font-face {
font-family: "Source Han Sans HW TC";
src: url('../fonts/SourceHanSansHWTC-VF.ttf.woff2') format('woff2');
}